MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=vapor
MYSQL_HOST_PORT=3307
MYSQL_CONTAINER_PORT=3306

APP_HOST_PORT=8080

DB_URL_DOCKER=jdbc:mysql://mysql:3306/vapor?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=vapor17-app-jwt-secret-key-security-2026

STEAM_BASE_URL=https://api.steampowered.com
STEAM_API_KEY= una_api_key_de_steam
# Si o si necesita crearse una key de la api de steam para q se pueda utilizar totalmente el proyecto
